*.pyc
*.egg-info
*.coverage
/coverage.xml
*.pytests.xml
/htmlcov
.pytest_cache

# .env file for Flask development server
.flaskenv

# Visual Studio Code clutter
.vscode

# Pycharm / JetBrains clutter
.idea

# Project builds
dist

# Tox/Nox
build
/.nox
/.tox

# Mise local config file
/mise.local.toml

# Project specific
