[build]
dev-mode-dirs = ['src']

{% if hatch_installer_uv %}
[envs.default]
installer = "uv"
{% endif %}

[metadata.hooks.requirements_txt]
files = ['requirements/base.txt']


[metadata.hooks.requirements_txt.optional-dependencies]
dev = ['requirements/dev.txt']

[version]
source = 'regex_commit'
path = 'src/{{ py_module }}/version.py'
