[tools]
python = "{{ python_version }}"


[env]
_.python.venv.path = "{{ '{% if env.VIRTUALENVS_DIR %}{{ env.VIRTUALENVS_DIR }}/{{ virtualenv_name }}{% else %}.venv{% endif %}' }}"
_.python.venv.create = true
