[build-system]
requires = [
    'hatchling',
    'hatch-requirements-txt',
    'hatch-regex-commit',
]
build-backend = 'hatchling.build'


[project]
name = '{{ project_name }}'
authors = [
    {name = '{{ author_name }}', email = '{{ author_email }}'},
]
dynamic = ['dependencies', 'optional-dependencies', 'version']
readme = 'readme.md'

{% if script_name -%}
[project.scripts]
'{{ script_name }}' = '{{ py_module }}.cli:main'
{% endif -%}

{% if use_pipx -%}
[tool.reqs]
sync_pipx = true
{% endif -%}
