[Unit]
Description=Run tooling updates
After=network.target
OnFailure=systemd-failure-notify@tooling.service

[Service]
Type=oneshot
Environment="PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/home/rsyring/bin:/home/rsyring/.local/bin/"

TimeoutStartSec=23h30min
# TODO: add script that blocks waiting for internet to be up
# ExecStartPre=/home/rsyring/.local/bin/kilo wait-for api.github.com --retry-after 15m

# TODO: change bin paths
ExecStart=/shared/bin/mise self-update
ExecStart=/shared/bin/mise up
ExecStart=/shared/bin/mise sync python --uv
ExecStart=/home/rsyring/.local/share/mise/installs/ubi-astral-sh-uv/latest/uv tool upgrade --all
